{% extends "base.html" %} {% block title %} --- {% endblock %} {% block main %}
<div class="container">
  <div class="advertisement-top">
    <h1 class="advertisement-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maxime nostrum, rem nam vel sequi unde eius totam
      est error
    </h1>
  </div>

  <div class="advertisement">
    <div class="advertisement-left">
      <img
        src="https://cf-cdn-v6.volkswagen.at/media/Abstract_Image_B1280_Component.Box_Stage_Parallax_StageList_Item_Image_Component/7123-stage-stageList-881171-image-b1280/dh-1600-c3e357/b8f34496/1720549587/dsc05001.jpg"
      />
    </div>

    <div class="advertisement-right">
      <div class="advertisement-price">464 000 грн.</div>
      <div class="advertisement-created-at">Опубліковано: 28 жовтня 2024р.</div>

      <div class="advertisement-details-wrapper">
        <div class="advertisement-details">
          <img src="../static/images/mileage.svg" />
          <p>168 тис.км.</p>
        </div>
        <div class="advertisement-details">
          <img src="../static/images/engine.svg" />
          <p>2</p>
        </div>
        <div class="advertisement-details">
          <img src="../static/images/transmission.svg" />
          <p>Автоматична</p>
        </div>
        <div class="advertisement-details">
          <img src="../static/images/fuel.svg" />
          <p>Бензин</p>
        </div>
        <div class="advertisement-details">
          <img src="../static/images/color.svg" />
          <p>Чорний</p>
        </div>
      </div>

      <div class="advertisement-seller">
        <div class="avatar">N</div>
        <div class="advertisement-seller-details">
          <span>ПРОДАВЕЦЬ:</span>
          <p>nickname</p>
        </div>
      </div>

      <h4 class="advertisement-subtitle">Опис</h4>

      <p class="advertisement-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eligendi porro modi reprehenderit nihil nisi
        quisquam praesentium fugit quos ea minima atque vitae consequuntur quam iure neque omnis, necessitatibus sint?
        Illum ab obcaecati suscipit quaerat facere ipsam ad incidunt voluptatem voluptatibus blanditiis, dicta saepe
        deserunt quas impedit, excepturi vitae accusantium laudantium quibusdam neque. Ipsam culpa asperiores, qui autem
        porro molestiae? Aperiam provident, ipsam obcaecati maiores animi aliquid quia sunt necessitatibus numquam
        dolorem nostrum. Rerum fugiat vitae beatae eius necessitatibus, harum fuga distinctio saepe eum incidunt,
        officiis accusantium, placeat animi excepturi?
      </p>
    </div>
  </div>
</div>
{% endblock %}
