{% extends "base.html" %}

{% block title %} Каталог {% endblock %}

{% block main %}
<div class="container">
    <div class="catalog">
      <h1>Каталог товарів</h1>

      <div class="catalog-wrapper">
        <div class="catalog-filters">
          <h4>Фільтри</h4>
          <div></div>
        </div>

        <div class="catalog-items">
          <a class="catalog-item" href="/catalog/1">
            <img src="../static/images/volkswagen.jpg" alt="" />
            <h4 class="catalog-item-title">Volkswagen CC passat</h4>
            <p class="catalog-item-created-at">28 жовтня 2024</p>
            <div class="catalog-item-details-wrapper">
              <div class="catalog-item-details">
                <img src="../static/images/mileage.svg" />
                <p>168 тис.км.</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/engine.svg" />
                <p>2</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/transmission.svg" />
                <p>Автоматична</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/fuel.svg" />
                <p>Бензин</p>
              </div>
            </div>
            <h5 class="catalog-item-price">350000 грн.</h5>
          </a>

          <div class="catalog-item">
            <img src="../static/images/volkswagen.jpg" alt="" />
            <h4 class="catalog-item-title">Volkswagen CC passat</h4>
            <p class="catalog-item-created-at">28 жовтня 2024</p>
            <div class="catalog-item-details-wrapper">
              <div class="catalog-item-details">
                <img src="../static/images/mileage.svg" />
                <p>168 тис.км.</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/engine.svg" />
                <p>2</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/transmission.svg" />
                <p>Автоматична</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/fuel.svg" />
                <p>Бензин</p>
              </div>
            </div>
            <h5 class="catalog-item-price">350000 грн.</h5>
          </div>

          <div class="catalog-item">
            <img src="../static/images/volkswagen.jpg" alt="" />
            <h4 class="catalog-item-title">Volkswagen CC passat</h4>
            <p class="catalog-item-created-at">28 жовтня 2024</p>
            <div class="catalog-item-details-wrapper">
              <div class="catalog-item-details">
                <img src="../static/images/mileage.svg" />
                <p>168 тис.км.</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/engine.svg" />
                <p>2</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/transmission.svg" />
                <p>Автоматична</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/fuel.svg" />
                <p>Бензин</p>
              </div>
            </div>
            <h5 class="catalog-item-price">350000 грн.</h5>
          </div>

          <div class="catalog-item">
            <img src="../static/images/volkswagen.jpg" alt="" />
            <h4 class="catalog-item-title">Volkswagen CC passat</h4>
            <p class="catalog-item-created-at">28 жовтня 2024</p>
            <div class="catalog-item-details-wrapper">
              <div class="catalog-item-details">
                <img src="../static/images/mileage.svg" />
                <p>168 тис.км.</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/engine.svg" />
                <p>2</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/transmission.svg" />
                <p>Автоматична</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/fuel.svg" />
                <p>Бензин</p>
              </div>
            </div>
            <h5 class="catalog-item-price">350000 грн.</h5>
          </div>

          <div class="catalog-item">
            <img src="../static/images/volkswagen.jpg" alt="" />
            <h4 class="catalog-item-title">
              Volkswagen CC passat Volkswagen CC passat Volkswagen CC passat Volkswagen CC passat
            </h4>
            <p class="catalog-item-created-at">28 жовтня 2024</p>

            <div class="catalog-item-details-wrapper">
              <div class="catalog-item-details">
                <img src="../static/images/mileage.svg" />
                <p>168 тис.км.</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/engine.svg" />
                <p>2</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/transmission.svg" />
                <p>Автоматична</p>
              </div>
              <div class="catalog-item-details">
                <img src="../static/images/fuel.svg" />
                <p>Бензин</p>
              </div>
            </div>

            <h5 class="catalog-item-price">350000 грн.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}