{% extends "base.html" %}

{% block title %} Реєстрація {% endblock %}

{% block main %}
<div class="container">
  <div class="auth-form">
    <form action="" method="post">
      <h2>Реєстрація</h2>

      <div class="auth-input">
        <label for="login">Логін:</label>
        <input id="login" name="login" required />
      </div>

      <div class="auth-input">
        <label for="password">Пароль:</label>
        <input id="password" name="password" type="password" required />
      </div>

      <a class="auth-link" href="/login">Увійти</a>
      <button class="create-ad-button" type="submit">Зареєструватись</button>
    </form>
  </div>
</div>
{% endblock %}